*{
  box-sizing:border-box;
}
#test_div{
  /* display:flex;
  flex-direction:row; */
  display:grid;
  grid-gap:1rem;
  grid-template-columns:1fr 1fr 1fr 1fr;

}
#box1{
  background-color:grey;
  height:10rem;

}
#box2{
  background-color:blue;
  height:10rem;
}
#box3{
  background-color:red;
  height:10rem;
}
#box4{
  background-color:purple; 
  height:10rem;
}

#test_div{
  height: 50vh;
}

.container{
  padding: 4rem;
}

.bg{  
  background-color: rgb(151, 116, 110);
}

.bg_success{
  background-color: rgb(31, 228, 73);
}
.bg_warning{
  background-color: rgb(31, 228, 73);
}